body {
    max-width: 50em;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 2em;
}
p {
    margin: 1em;
}
.graphs-figure {
    width: 100%;
    margin: 1em 0px;
}
.graphs-img {
    width: 100%;
}